[*.cs]
# Impede nova linha antes da chave em blocos de controle (if, while, do, etc)
csharp_new_line_before_open_brace = none
# Garante que chaves de inicialização de objetos também fiquem na mesma linha
csharp_new_line_before_open_brace = object_initializers